html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: Arial, Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    color: #444444;
    font-size: 12px;
    overflow: hidden;
}

h1 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

button {
    padding: 5px;
    margin: 5px;
}

.app-container {
    width: 600px;
    height: 600px;
    margin: auto;
    background-image: url(images/background.jpg);
}

.left-margin {
    float: left;
    width: 10%;
    height: 100%;
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.left-back {
    float: left;
    width: 20%;
    height: 10%;
}

.right-buttons {
    float: right;
    width: 20%;
    height: 10%;
}

.app-header {
    height: 10%;
}

.checked {
    height: 5%;
    display: flex;
}

.alignBottom {
    align-self: flex-end;
    padding: 5px;
}

.folders {
    height: 25%;
    overflow-y: auto;
}

.content {
    height: 60%;
    overflow-y: auto;
}

.fileIcon {
    float: left;
    width: 90px;
    height: 45px;
    text-align: center;
}

.fileAction {
    float: right;
    width: 90px;
    height: 45px;
}

.fileName {
    display: flex;
    font-size: 18;
    height: 30px;
}

.fileNameText {
    align-self: flex-end;
}

.filePath {
    height: 15px;
}